body,html{
padding: 0;
margin: 0;
box-sizing: border-box;
width: 100%;
}

.container{
width: 80%;
height: 100vh;
background-color: #fff;
text-align: center;
}
img{
margin-left: 10%;
}
#nav-bar{
margin-right: 10%;
}
#header{
  position: fixed;
  background: Orange;
  color: #000;
  width: 100%;
  padding: 10px;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
margin-top: -5rem;
}

#video_section{
margin-top: 5rem;
}

section {
  margin: 0 10%;
}

@media only screen and (min-width: 1400px){
    #header {
    background: #000;
    color: #fff;
  }
}
/* @media (min-width: 1400px) {
  #header {
  background: #000;
  color: #fff;
  }

} */
